<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    
    
    <header>
        <nav>
            <a href="{{ url_for('main') }}"><h3 id="title">Which <img id="logo" src="https://th.bing.com/th/id/R.171057266971967defb395ce23f2bb9c?rik=G9sxRYUdMIDv3w&riu=http%3a%2f%2fwww.clipartbest.com%2fcliparts%2f9iR%2fg9R%2f9iRg9RBkT.png&ehk=cmVI2Tp1hqBMKbWWEZVt2i7EE40gOltvES%2bUH6pFEuE%3d&risl=&pid=ImgRaw&r=0" alt="logo"> Character Are You?</h3></a>
            <div id="links">
                <a href="{{ url_for('roster') }}"><h3 id="chars">Character Roster</h3></a>
                <a href="{{ url_for('list_questions') }}"><h3 id="questions-list">Questions List</h3></a>
                <a href="{{ url_for('yours') }}"><h3 id="your-characters">Your Characters</h3></a>
            </div>
            
        </nav>
    </header>


    {% block content%}
    {% endblock %}

    <footer>
        
    </footer>

   

</body>
</html>